.headerSizing {
    display: block;
    margin-bottom: 2rem;
}

.imageBox img {
    width: 65%;
    border-radius: 1rem;
}

.buyDreamcarBox img,
.getMoneyBox img {
    border: 0.2rem rgba(0, 255, 30, 0.192) solid;
    box-shadow: 0px 0px 20px 2px rgba(20, 82, 1, 0.814);
}

.buyingBox,
.sellingBox {
    max-width: 34.375rem;
}

.imageBox {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    margin-bottom: 10rem;
}

@media (max-width: 660px) {
    .imageBox img {
        width: 75%;
    }
}

@media (max-width:500px) {
    .imageBox img {
        width: 85%;
    }

    .headerSizing h4 {
        font-size: 1.25rem;
    }

    .imageBox label {
        font-size: 0.75rem;
    }

    .imageBox {
        margin-bottom: 6rem;
    }

    .buyDreamcarBox img,
    .getMoneyBox img {
        box-shadow: 0px 0px 6px 1px rgba(20, 82, 1, 0.814);
    }
}