.navbar {
    background-color: rgba(2, 231, 6, 0.537);
    height: 5.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 0.125rem solid black;
    box-shadow: #4b4a4a;
    font-family: sans-serif;
    font-size: 1.125rem;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width: 40rem;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    display: flex;
    font-weight: bold;
    margin-right: 1rem;
    margin-left: 0;
    letter-spacing: 0.1rem;
    transition: all 0.3s linear;
    text-align: center;
}

.nav-links a:hover {
    letter-spacing: 0.2rem;
    color: #545452;
    text-shadow: 0.125rem 0.125rem 0.125rem #6e6e68;
}

.nav-links a:active {
    color: #999998;
}

.logo {
    height: 4.5rem;
}

@media(max-width:720px) {
    .nav-links a {
        font-size: 1rem;
        margin: 0;
        margin-right: 1rem;
    }
}

@media(max-width:560px) {
    .nav-links a {
        font-size: 0.7rem;
        margin: 0;
        letter-spacing: 0.035rem;
        margin-right: 0.75rem;
        transition: none;
    }

    .nav-links a:hover {
        letter-spacing: 0.1rem;

        text-shadow: 0.1rem 0.1rem 0.1rem #6e6e68;
    }

    .nav-links {
        display: block;
    }
}